@import "colors", "fonts", "buttons", "typos";

main {
    display: flex;
    flex-direction: column;

    .txtImg {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .textBtn {
            overflow-wrap: break-word;
            width: 45%;
        }

        h2 {
            @include head2;
        }

        p {
            @include body1;
            color: $dg;
            padding: 1.5em 0;
        }

        .button {
            @include btn;
            text-decoration: none;
            color: white;
        }

        .imgSvg {
            position: relative;
        }

        .png {
            z-index: 0;
        }

        img.mask {
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
            z-index: 0;
        }

        .circle {
            z-index: 0;
            position: absolute;
            top: 0;
            left: 30.5em;
        }

        .arrow {
            z-index: 1;
            position: absolute;
            top: 18em;
            left: 3.5em;
            width: 100%;
            transform: scale(1.4);
        }

        .imgSvg3 {
            position: relative;

            .circle3 {
                z-index: 0;
                position: absolute;
                top: 0;
                left: 30.5em;
            }

            .arrow3 {
                z-index: 1;
                position: absolute;
                top: 4.5em;
                left: 17em;
                transform: scale(0.8);
            }

        }

        .imgSvgAbout {
            position: relative;

            .png {
                z-index: 0;
            }

            .circle {
                z-index: 0;
                position: absolute;
                top: 0;
                left: 29.4em;
            }

            .arrow {
                z-index: 1;
                position: absolute;
                top: 20em;
                left: 2.3em;
                width: 100%;
                transform: scale(1.4);
            }
        }

        .imgSvgCareers {
            position: relative;

            .png {
                z-index: 0;
            }

            .circle {
                z-index: 0;
                position: absolute;
                top: 0;
                left: 29.4em;
            }

            .arrow {
                z-index: 1;
                position: absolute;
                top: 20em;
                left: 2.3em;
                width: 100%;
                transform: scale(1.4);
            }
        }

    }


    .imgTxt {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .imgSvg2 {
            position: relative;

            .circle2 {
                z-index: 0;
                position: absolute;
                top: 0;
                left: -10em;
            }

            .arrow2 {
                z-index: 1;
                position: absolute;
                top: 1.5em;
                left: -10em;
                width: 100%;
            }
        }
    }
}

@media (min-width:768px) and (max-width: 1024px) {
    main {
        display: flex;
        flex-direction: column;
        gap: 8em;

        .txtImg {
            display: flex;
            flex-direction: column-reverse;
            gap: 2em;

            .textBtn {
                overflow-wrap: break-word;
                width: 60%;
            }

            h2 {
                @include head2;
                text-align: center;
            }

            p {
                @include body1;
                color: $dg;
                padding: 1.5em 0;
                text-align: center;
            }

            .test {
                display: flex;
                justify-content: center;
            }

            .button {
                @include btn;
                text-decoration: none;
                color: white;
            }

            .imgSvg {
                position: relative;
            }

            .png {
                z-index: 0;
            }

            img.mask {
                border-radius: 50%;
                object-fit: cover;
                object-position: center;
                z-index: 0;
            }

            .circle {
                z-index: 0;
                position: absolute;
                top: 0;
                left: 36em;
            }

            .arrow {
                z-index: 1;
                position: absolute;
                top: 18em;
                left: 12.7em;
                width: 100%;
                transform: scale(1.4);
            }

            .imgSvg3 {
                position: relative;

                .circle3 {
                    z-index: 0;
                    position: absolute;
                    top: 0;
                    left: 39.7em;
                }

                .arrow3 {
                    z-index: 1;
                    position: absolute;
                    top: 4.5em;
                    left: 23.9em;
                    transform: scale(1.02);

                }


            }
        }

        .imgTxt {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .imgSvg2 {
                position: relative;

                .circle2 {
                    z-index: 0;
                    position: absolute;
                    top: 0;
                    left: -12em;
                }

                .arrow2 {
                    z-index: 1;
                    position: absolute;
                    top: 1.5em;
                    left: -7em;
                    width: 100%;
                    transform: scale(1.4);
                }
            }
        }
    }
}

@media (min-width:375px) and (max-width:767px) {
    main {
        display: flex;
        flex-direction: column;
        gap: 8em;

        .txtImg {
            display: flex;
            flex-direction: column-reverse;
            gap: 3em;

            .textBtn {
                overflow-wrap: break-word;
                width: 80%;
            }

            h2 {
                @include head2;
                font-size: 32px;
                line-height: 32px;
                text-align: center;
            }

            p {
                @include body1;
                color: $dg;
                padding: 1.5em 0;
                text-align: center;
            }

            .test {
                display: flex;
                justify-content: center;
            }

            .button {
                @include btn;
                text-decoration: none;
                color: white;
            }

            .png {
                position: relative;
                z-index: 0;
            }

            img.mask {
                border-radius: 50%;
                object-fit: cover;
                object-position: center;
                position: relative;
                z-index: 0;
            }

            .circle {
                display: none;
            }

            .arrow {
                z-index: 1;
                position: absolute;
                top: 250px;
                left: 100px;
            }

            .imgSvg3 {
                position: relative;

                .circle3 {
                    display: none;
                }

                .arrow3 {
                    z-index: 1;
                    position: absolute;
                    top: 1em;
                    left: 5em;
                    transform: scale(1.02);

                }


            }


        }
    }
}