<!DOCTYPE html>

<body>
    <footer class="">
        <div class="footer_up">
            <div class="container footer_container">
                <div>
                    <p>Sign up and Scoot off today</p>
                </div>
                <div class="stores">
                    <a href="https://www.apple.com/befr/app-store/" target="_blank">
                        <img src="assets/svg/footer/appStore.svg" alt="apple app store link logo">
                    </a>
                    <a href="https://play.google.com/store/games?hl=fr&gl=US" target="_blank">
                        <img src="assets/svg/footer/googlePlay.svg" alt="android google play store link logo">
                    </a>
                </div>
            </div>
        </div>

        <div class="footer_down ">

            <div class="container footer_container">
                <div class="l">
                    <img src="./assets/svg/header/scoot.svg" alt="">
                    <nav class="nav">
                        <ul>
                            <li>
                                <a href="about.html">About</a>
                            </li>
                            <li>
                                <a href="#">Location</a>
                            </li>
                            <li>
                                <a href="#">Careers</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="right">
                    <div class="social">
                        <img class="svg" src="./assets/svg/footer/facebook.svg" alt="facebook logo">
                        <img class="svg" src="./assets/svg/footer/instagram.svg" alt="instagram logo">
                        <img class="svg" src="./assets/svg/footer/twitter.svg" alt="twitter logo">
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>