<!DOCTYPE html>

<body>
<header class="container">
    <div class="menu">
        <a href="index.html">
            <img src="./assets/svg/header/scoot.svg" alt="Company's logo">
        </a>
        <nav>
            <ul>
                <li>
                    <a href="../about.html">About</a>
                </li>
                <li>
                    <a href="location.html">Location</a>
                </li>
                <li>
                    <a href="careers.html">Careers</a>
                </li>
            </ul>
        </nav>
    </div>
    <a class="button" href="#">Get Scootin</a>
</header>
</body>
</html>