@import "typos", "colors", "fonts";

.bubbles {

    h2 {
        @include head2;
        text-align: center;
    }

    .articles {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1em;


        article {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            gap: 1em;

            h4 {
                @include head4;
            }

            p {
                @include body1;
                color: $dg;
                text-align: center;
            }
        }

    }

}