@import "colors";

@mixin btn {
    font-family: 'Space Mono';
    font-size: 15px;
    line-height: 25px;
    padding: 0.5em 2.3em;
    background-color: $yellow;
    width: fit-content;

    & {
        text-decoration: none;
        color: white;
    }

    &:hover {
        background-color: white;
        outline: 2px solid $yellow;
        color: $yellow;

    }
}