@import "colors", "fonts", "buttons", "typos";

.txtImg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .textBtn {
        word-wrap: break-word;
    }

    h2 {
        @include head2;
    }

    p {
        @include body1;
        color: $dg;
        padding: 1.5em 0;
    }

    .button {
        @include btn;
        text-decoration: none;

    }

    .imgSvg {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
    }

    .img {
        position: relative;
        left: 17%;
        z-index: 0;
    }

    .circle {
        position: relative;
        left: 23.5%;
        z-index: 0;
    }

    .arrow {
        z-index: 1;
        position: absolute;
        width: 123%;
        height: 100%;
        top: 68%;
    }





}