@import "typos";
$head1 {
font-size: 56px;
line-height: 56px;
letter-spacing: -2.5;
}
$head2 {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14;
}
$head3 {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.79;
}
$head4 {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07;
}
$body1{

}