@import "typos", "colors";

.container {
  width: 90%;
  margin: auto;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_up {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: url("./assets/svg/footer/background.svg");
  background-color: hsla(217, 18%, 35%, 1);
  background-position: right;
  background-repeat: no-repeat;

  p {
    font-size: 48px;
    color: white;
    font-family: "Space Mono", serif;
    font-weight: 700;
    line-height: 48px;
    width: 50%;

  }
}

.stores {
  display: flex;
  justify-content: right;
  gap: 0.7em;
}

.footer_down {
  background-color: hsla(215, 14%, 23%, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  .footer_down_left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .grey {
    display: block;
  }

  .white {
    display: none;
  }


  li {
    list-style: none;
    display: inline;
    padding-left: 3em;

    a {
      text-decoration: none;
      color: white;
      font-family: "Space Mono";
      font-size: 15px;
      line-height: 25px;
    }

    a:hover {
      color: $yellow;
    }
  }
}


.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  gap: 1em;
}

.svg {
  filter: invert(80%) sepia(48%) saturate(1425%) hue-rotate(335deg) brightness(102%) contrast(98%);
}

.svg:hover,
.svg:focus {
  filter: invert(100%) sepia(8%) saturate(2763%) hue-rotate(202deg) brightness(125%) contrast(80%);
}

// Tablet -----------------------------------------------------------------


@media (min-width: 768px) and (max-width: 1024px) {

  .container {
    width: 90%;
    margin: auto;
  }

  .footer_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer_up {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-image: url("./assets/svg/footer/background.svg");
    background-color: hsla(217, 18%, 35%, 1);
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer_container p {
    font-size: 48px;
    color: white;
    font-family: "Space Mono", serif;
    font-weight: 700;
    line-height: 48px;
    width: 50%;
    text-align: center;

  }

  .stores {
    display: flex;
    justify-content: right;
    gap: 0.7em;
    padding-top: 2em;
  }


  .footer_down {
    background-color: hsla(215, 14%, 23%, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    .footer_down_left {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .grey {
      display: none;
    }

    .white {
      display: block;
    }


    li {
      list-style-type: none;
      display: inline;
      padding-left: 3em;

      a {
        text-decoration: none;
        color: white;
        font-family: "Space Mono";
        font-size: 15px;
        line-height: 25px;
      }

      a:hover {
        color: $yellow;
      }
    }

  }

  .social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
  }
}