@import "typos", "colors", "fonts", "buttons";



.containertest{
    width: 77.08%;
    margin: auto;
}

// This part is exclusive for the banner part of the index/home page

.headpic {

    display: flex;
    padding-bottom: 5%;
    background-image: url("./assets/jpg/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 10rem;
}

.insideheadpic {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4rem;

    .button {
        @include btn;
        margin-left: 8rem;

        &:hover {
            background-color: hsla(217, 18%, 35%, 1);
            color: hsla(0, 0%, 100%, 1);
        }
    }

    .titleTxt {
        width: 50%;
        color: hsla(0, 0%, 100%, 1);
        font-family: 'Space Mono', serif;
        font-size: 56px;
        line-height: 56px;
        font-weight: 700;
        letter-spacing: -2.5px;
        margin-top: 5.5rem;
        //padding-left: 2rem;

    }

    .headTxt {
        width: 50%;
        color: hsla(0, 0%, 100%, 1);
        font-family: 'Lexend Deca', serif;
        font-size: 15px;
        line-height: 25px;
        padding-left: 8rem;
        text-align: left;
    }
}

//This part is for global headers and navbars

.headcontainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1.5em 0;

    .button{
        width: 18%;
    }
}

header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    transition: top 1s;
    position: sticky;
    z-index: 1000;
    background-color: rgba(255,255,255, 0.8);


    .menu {
        display: flex;
        width: 100%;
        align-items: center;

        nav{
            width: 100%;

        ul {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;

        }
        }
        .list {

            display: flex;
            align-items: center;
        }

        li {
            list-style: none;
            display: inline-flex;
            justify-content: space-between;
            padding: 1em;

            a {
                text-decoration: none;
                color: $dg;
                font-family: 'Space Mono', serif;
                font-size: 15px;
                line-height: 25px;
                font-weight: bold;
            }

            a:hover {
                color: $yellow;
            }
        }
    }
    
    .button {
        @include btn;

    }
}

// Here begin the media queries
/* Hide the navigation menu by default */

/* Style the burger menu */
.burger {
    display: none;
    cursor: pointer;
}

/* Show the burger menu and hide the navigation menu when the screen size is 600px or less */
//@media screen and (max-width: 600px) {
//    nav ul {
//        display: none;
//    }
//    .burger {
//        display: block;
//    }
//}


@media (max-width: 1024px) {
    //nav ul {
    .containertest {
        width: 90%;
    }
    //    display: none;
    //}
    //.burger {
    //    display: block;
    //}
    //.button {
    //    display: none;
    //}

    //
    .headcontainer {
        display: flex;
        width: 100%;

        .button {
            //display: flex;
            width: 30%;
        }
    }
    .headpic {
        //display: none;
        height: 40rem;
    }

    .insideheadpic {
        display: flex;
        flex-direction: column;
        align-items: center;


        .titleTxt {
            width: 90%;
            text-align: center;
        }

        .headTxt {
            text-align: center;
            padding: 0;
            //margin-left: 0rem;
            width: 90%;
        }

        .button {
            //display: flex;
            margin-left: 0;

        }
    }
}

@media (max-width: 375px){
    .headcontainer {
        display: flex;
        //align-items: center;
        //justify-content: space-between;

        .burger{
            height: 20px
        }

        .menu {
            display: flex;
            width: 100%;
            //justify-content: center;
            //background-color: #FCB72B;

            nav {
                display: flex;
                flex-direction: column;
                //align-items: center;
                //justify-content: space-between;
                ul {
                    position: absolute;
                    display: flex;
                    transform: translateY(35px);
                    padding : 0;
                    flex-direction: column;
                    align-items: start;
                    width: 60vw;
                    height: 100vh;
                    background-color: #495567;
                    left: -100%; /* Hide the navigation bar off the left side of the screen */
                    transition: left 0.5s ease; /* Animate the sliding effect */

                    .list{
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        //justify-content: left;
                        //gap: 2rem;
                        padding-top: 2rem;

                    }

                    li{
                        gap: 5rem;

                        a{
                            color: white;
                            font-size: 1.5rem;
                            font-weight: bold;
                            text-decoration: none;
                            padding: 1rem;
                            transition: 0.5s;

                        }
                    }
                }
            }
        }

        .insideheadpic {

            padding-bottom: 100px;
            .titleTxt{
                margin: 0;
            }
        }

        .button {

            display:none;
            //position: relative;
        }
        .burger {
            display: block;
        }
    }
}





