@import "typos", "colors", "fonts", "buttons";

.jobs {

    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 5em;

    .box {
        background-color: $snow;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1.5em 2.5em;


        h4 {
            @include head4;
        }

        p {
            @include body1;
        }

        a {
            @include btn;
            padding: 0.5em 3.5em;
        }
    }
}

@media (min-width:375px) and (max-width:767px) {
    .jobs {

        display: flex;
        flex-direction: column;
        gap: 1.5em;
        padding-bottom: 5em;

        .box {
            background-color: $snow;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;


            h4 {
                @include head4;
                font-size: 18px;
                line-height: 24px;
                text-align: center;
            }

            p {
                @include body1;
                text-align: center;
            }

            a {
                @include btn;
                padding: 1em 8em;
                margin-top: 1em;
            }
        }
    }
}