@import "typos", "colors", "fonts", "buttons";

main {

    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        h2 {
            @include head2;
            width: 30%;
        }

        .text {

            width: 40%;

            p {
                @include body1;
                color: $dg;
            }
        }


        a {
            @include btn;
            padding: 1em 3em;
            width: 20%
        }

    }

    padding-bottom: 3em;
}

@media (min-width: 768px) and (max-width: 1024px) {
    main {

        .content {
            display: flex;
            flex-direction: column;
            gap: 2em;


            .text {
                width: 70%;
            }

            h2 {
                @include head2;
                width: 50%;
                text-align: center;
            }

            p {
                @include body1;
                color: $dg;
                text-align: center;
            }


            a {
                @include btn;
                padding: 1em 3em;
            }

        }

    }
}