
.faq-item {
  display: flex;
  justify-content: center;
  :hover {
    background-color: white;

  }
  .section1{
    width: 40%;
    display: flex;
    justify-content: left;
  }
  display: flex;
  //flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-bottom: 20px;

  .sections {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    align-items: center;
  }

  h3 {
    text-align: left;
    width: 100%;
    font-family: "Space Mono", serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1.79px;

  }

  h3:hover {
    background-color: white;
  }

  details {
    background-color: hsla(214, 37%, 96%, 1);
    width: 100%;

    summary {
      display: flex;

      font-family: "Space Mono", serif;
      font-weight: 700;
      font-size: 24px;
      line-height:28px;
      letter-spacing: -1.07px;
        display: flex;
        justify-content: space-between;
      h4{
        width: 100%;
      }

    }

  }

  .faq-questions {
    display: flex;
    width: 75%;
    align-content: center;
    :hover {
      background-color: hsla(39, 100%, 94%, 1);
  }
.faq-question{
  width: 100%;
}
  .faq-answer {
    font-family: "Space Mono", serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07px;

  }

  .faq-questions summary {
    list-style: none;
  }

  .faq-questions summary::-webkit-details-marker {
    display: none;
  }

  summary::after {
    content: url("./assets/png/about/faqArrow.png");

    transition: transform 0.3s ease-in-out;
  }

  details[open] summary::after {
    transform: rotateX(180deg);
  }}}


