.faq-item {
    font-family: "Space Mono", serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1.79px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.faq-question {
    cursor: pointer;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}